.main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.bold {
    font-weight: bold;
}

.flex-contain {
    display: flex;

    .item {
        margin: auto 0;
    }
}

.pull-right {
    float: right;
}

.small {
    font-size: .8em;
}

.card {
    width: 250px;
    height: 350px;
}

.center {
    text-align: center;

    .pure-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.some-space {
    margin-bottom: 20px;
}

.no-indent {
    padding: 0;
    list-style-type: none;

    li {
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: .25em;
        }
    }
}

.divider {
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 80%;
}

ol.horizontal {
    width: 100%;
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
        margin: 10px;
    }
}

.breathing-room {
    div {
        margin: 10px 0 10px 0;
    }

    button {
        margin-top: 1em;
    }
}

.idol-box {
    padding: 10px;

    &:hover {
        background-color: rgba(128, 128, 128, 0.1);
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:visited {
        color: #000;
    }
}

.notification {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .75rem 1.25rem;

    &.info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bcdff1;
    }

    &.success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }

    &.warning {
        background-color: #fcf8e3;
        border-color: #faf2cc;
        color: #8a6d3b;
    }

    &.error {
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
    }
}

.fade-in {
    animation: fadein .5s;
}

.slide-in {
    animation: slidein .5s;
}

.slide-in-container {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.legend-fake {
    font-weight: 200;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.new-question-options {
    padding-left: 10px;
    margin: 0 !important;
}

.compact-table {
    td {
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.pure-form-aligned .pure-control-group {
    span.label {
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        margin: 0 1em 0 0;
    }

    &.inline label {
        width: auto;
        margin: 0 0.5em 0 0;
    }

    &.inline div {
        display: inline-flex;
        justify-content: space-around;
        flex-flow: row nowrap;

        label {
            flex: 0 1 auto;
        }
    }
}

.editor-container {
    margin: 1em 0 1em 0;

    .editor {
        min-height: 5em;

        .box {
            height: auto;
            margin-top: .5em;
            margin-bottom: 1em;
        }
    }
}

.questions-container {
    div {
        margin: 10px 0 10px 0;
    }

    label {
        display: block;
        margin-bottom: .5em;
    }
}

.tab-row {
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.tab {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.tab:hover {
    background-color: #ececec;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 25%;
        width: 150%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}
