.main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.pull-right {
    float: right;
}

.small {
    font-size: .8em;
}

.center {
    text-align: center;

    .pure-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.some-space {
    margin-bottom: 20px;
}

.no-indent {
    padding: 0;
    list-style-type: none;

    li {
        vertical-align: text-top;
        line-height: 1;
        display: block;

        a {
            vertical-align: text-top;
        }
    }
}

.divider {
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 80%;
}

ol.horizontal {
    width: 100%;
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
        margin: 10px;
    }
}

.breathing-room {
    div {
        margin: 10px 0 10px 0;
    }
}

.idol-box {
    padding: 10px;
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a:visited {
        color: #000;
    }
}

.idol-box:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.error {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;

    h3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.fade-in {
    animation: fadein .5s;
}

.slide-in {
    animation: slidein .5s;
}

.slide-in-container {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

@keyframes fadein {
    from { 
        opacity: 0; 
    }

    to { 
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 25%;
        width: 150%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}