.main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
}

.pull-right {
    float: right;
}

.small {
    font-size: .8em;
}

.center {
    text-align: center;

    .pure-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.some-space {
    margin-bottom: 20px;
}

.no-indent {
    padding: 0;
    list-style-type: none;

    li {
        vertical-align: text-top;
        line-height: 1;
        display: block;

        a {
            vertical-align: text-top;
        }
    }
}

.divider {
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 80%;
}

ol.horizontal {
    width: 100%;
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
        margin: 10px;
    }
}

.breathing-room {
    div {
        margin: 10px 0 10px 0;
    }
}

.idol-box{
    padding: 10px;
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a:visited {
        color: #000;
    }
}

.idol-box:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.error {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;

    h3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}