@import 'variables';
@import 'buttons';
@import 'custom';
@import 'cards';

html {
    min-height: 100%;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, $secondary-color, $primary-color);
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
    }

a:hover {
    text-decoration: none;
}

a:visited {
    color: #0000EE;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
}

select {
    height: auto !important;
}

.bandori {
    text-align: center;

    img {
        max-width: 100%;
    }

    .twitterborder {
        text-align: center;
        margin: 0 auto;
    }
}