@import 'variables';
@import 'buttons';

html {
    height: 100%;
}

body {
    margin-top: 20px;
    background: linear-gradient(45deg, $secondary-color, $primary-color);
    background-repeat: no-repeat;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
    }

.main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
}

.pull-right {
    float: right;
}

.small {
    font-size: .7em;
}

.center {
    text-align: center;

    .pure-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.some-space {
    margin-bottom: 20px;
}